@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Instrument+Serif:ital@0;1&display=swap");

@import "tailwindcss";

@theme {

    /* Polices imported from Google Fonts */
    --font-geist: 'Geist', sans-serif;
    --font-instrument-serif: 'Instrument Serif', serif;
    
    /* Custom colors */
    --color-light-grey: #FBFAF7;
    --color-medium-grey: #F7F3E8;
    --color-dark-grey: #E8E6DF;
    --color-text-grey: #6B6A66;


    /* Custom spacing */
    --spacing-9px: 9px;
    --spacing-14px: 14px;

}

